.care__title{}

.care__wrapper{
    display: flex;
    flex-direction: column;
    gap: 39px;
    justify-content: center;

    @media screen and (min-width:768px) {
        max-width: 690px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-content: center;
        margin: 0 auto;

    }
    @media screen and (min-width:1150px) {
        display: grid;  
        grid-template-columns: 1fr 1fr;
        justify-content: center;

    }

}

.care__text{
    margin-bottom: 10px;
}

.care__image{}