.warranty__title{}
.warranty__wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    order: 1;
    @media screen and (min-width:768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-content: center;
        margin: 0 auto;
        .warranty__body {
            order: 1;
        }

    }
    @media screen and (min-width:1150px) {
        display: grid;  
        grid-template-columns: 1fr 1fr;
        justify-content: center;

    }
}


.warranty__text{
    margin-bottom: 10px;
}

.warranty__image{}